body{
     background:linear-gradient(to bottom, #553DEC 20%, #8880BB 80%) fixed no-repeat;
     background-size: cover;
 }
.xd{
position: absolute; 
top: 6%;
left: 22%;
width: 70%; 
height: 48%;
font-size: 50px;
}
.mav{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100px; border:3px solid;
	background-color: #E0D45A
}
.cubo{
position: absolute;
height: 48%;
width: 48%; 
left: 28%; 
top: 26%;
background: #A9D822
}
.letra{
position: absolute;
height: 48%;
width: 48%; 
left: 48%; 
top: 46%;
font-size: 40px;
}